apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "calendar.fullname" . }}-app
data:
  application.yml: |-
    server:
      port: 8080

    calendar:
      config:
        competitions-dir: {{ .Values.calendar.config.competitionsDir | quote }}
      storage:
        base-dir: {{ .Values.calendar.storage.baseDir | quote }}
      competitions:
{{- range $id, $c := .Values.competitions }}
        {{ $id }}:
          enabled: {{ $c.enabled }}
          name: {{ $c.name | quote }}
          file: {{ $c.propertiesFileName | quote }}
          storage-dir: {{ required (printf "competitions.%s.storageDir is required" $id) $c.storageDir | quote }}
{{- end }}
